ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkcyan;
    height: auto;
}

li.menu {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none
}

li a:hover {
    background-color: rgb(0, 82, 82);
    color: white;
}

li.active {
    background-color: darkslategray
}
.hang {
    text-indent: -4em;
    margin-left: 6em;
}